/* 게시판 관련 */

/* 리스트 */

.board_list h3 {
    font-size: 36px;
    color: #141414;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 20px;
    overflow: hidden;
}

.board_list h3 span {
    float: right;
}

.board_list h3 span a {
    display: inline-block;
    width: 150px;
    height: 45px;
    background: #f59900;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.board_list .search {
    background: #efefef;
    padding: 12px;
    text-align: right;
}

.board_list .search select {
    width: 110px;
    border: #ccc 1px solid;
    border-radius: 4px;
    height: 37px;
    padding: 0 10px;
    font-size: 14px;
    color: #141414;
    background: url('../images/select_cursor.png') #f8f8f8 no-repeat 95% 50%;
}

.board_list .search .sch_input {
    background: #fff;
    border: #dbdbdb 1px solid;
    height: 35px;
    font-size: 14px;
    color: #666;
    padding: 0 10px;
}

.board_list .search .sch_btn {
    background: #f8f8f8;
    border: #9ea2a8 1px solid;
    width: 90px;
    height: 35px;
    font-size: 14px;
    color: #141414;
}

.board_list .btn_submit {
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background: #f59900;
    border: 0;
    cursor: pointer;
    outline: none
}

.board_list .page {
    text-align: center;
    margin: 30px 0;
}

.board_list .page .pg_btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: #d6d6d6 1px solid;
    margin: 0 3px;
}

.board_list .page span {
    margin: 0 30px;
}

.board_list .page .pg_current {
    font-size: 14px;
    color: #f56200;
    font-weight: 600;
    line-height: 30px;
    text-decoration: underline;
    padding: 0 7px;
}

.board_list .page .pg_page {
    font-size: 14px;
    color: #555;
    line-height: 30px;
    padding: 0 7px;
}

table.bo_tbl {
    width: 100%;
    border-top: #000 2px solid;
}

table.bo_tbl th {
    padding: 20px 10px;
    text-align: center;
    border-bottom: #000 1px solid;
    font-size: 16px;
    color: #141414;
    font-weight: 600;
}

table.bo_tbl td {
    padding: 20px 10px;
    text-align: center;
    border-bottom: #dddedf 1px solid;
    font-size: 16px;
    color: #555;
}

table.bo_tbl td a {
    font-size: 16px;
    color: #555;
    line-height: 1.4em;
}

table.bo_tbl td.tal {
    text-align: left;
}

table.bo_tbl td.re {
    text-align: left;
    background: url('../images/bo_re.png') no-repeat 10px 23px;
    padding-left: 27px;
}

table.bo_tbl td.re span {
    color: #f56200;
}

table.bo_tbl .mo_st {
    display: none;
}

/* 뷰 */

.board_view h3 {
    font-size: 36px;
    color: #141414;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.board_view .btn_confirm {
    text-align: center;
}

.board_view .btn_confirm a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: #f59900;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

table.bo_tbl2 {
    width: 100%;
    border-top: #000 2px solid;
}

table.bo_tbl2 th,
table.bo_tbl2 td {
    line-height: 1.6em;
}

table.bo_tbl2 th {
    padding: 20px;
    text-align: left;
    border-bottom: #dddedf 1px solid;
    border-right: #dddedf 1px solid;
    font-size: 16px;
    color: #141414;
    font-weight: 600;
    word-wrap: break-word;
}

table.bo_tbl2 td {
    padding: 20px;
    text-align: left;
    border-bottom: #dddedf 1px solid;
    font-size: 16px;
    color: #555;
    word-break: keep-all;
    word-wrap: break-word;
}

table.bo_tbl2 td img {
    width: 70%
}

table.bo_tbl2 td iframe {
    width: 90% !important
}

table.bo_tbl2 td a {
    text-decoration: underline;
    overflow: hidden;
    word-break: break-all;
}

table.bo_tbl2 td span.small {
    color: #999;
    font-size: 13px
}

table.bo_tbl2 td.bdr {
    border-right: #dddedf 1px solid;
}

table.bo_tbl2 td.bold {
    color: #141414 !important;
    font-weight: 600 !important;
}

table.bo_tbl2 .sel_type1 {
    height: 37px;
    border-radius: 3px;
}

/* 쓰기 */

.board_write h3 {
    font-size: 36px;
    color: #141414;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.board_write table.bo_tbl2 textarea {
    height: 240px;
    padding: 10px;
}

.board_write .btn_confirm .btn_cancel {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    color: #444;
    font-weight: 600;
    line-height: 50px;
    background: #fff;
    border: #9ea2a8 1px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/********** tablit **********/

@media (max-width: 1360px) {
    .board_write .btn_confirm .btn_cancel {
        display: inline-block;
        width: 120px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        color: #444;
        font-weight: 600;
        line-height: 50px;
        background: #fff;
        border: #9ea2a8 1px solid;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/********** mobile **********/

@media (max-width: 768px) {
    /* 리스트 */
    .board_list h3 {
        font-size: 24px;
        color: #141414;
        font-weight: 600;
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    .board_list .search {
        background: #efefef;
        padding: 12px;
        text-align: center;
    }
    .board_list .search select {
        width: 62px;
        height: 30px;
        font-size: 11px;
    }
    .board_list .search .sch_input {
        height: 28px;
        font-size: 12px;
        color: #666;
        padding: 0 5px;
    }
    .board_list .search .sch_btn {
        width: 100px;
        height: 28px;
        font-size: 12px;
    }
    .board_list .btn_submit {
        display: inline-block;
        width: 120px;
        height: 40px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        background: #f59900;
        border: 0;
        cursor: pointer;
        outline: none
    }
    .board_list h3 span a {
        display: inline-block;
        width: 120px;
        height: 35px;
        background: #f59900;
        line-height: 35px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
    }
    table.bo_tbl th,
    table.bo_tbl td {
        padding: 15px 5px;
        font-size: 13px;
    }
    table.bo_tbl td a {
        font-size: 13px;
    }
    table.bo_tbl .mo {
        display: none;
    }
    table.bo_tbl .mo_num {
        width: 15%;
    }
    table.bo_tbl .mo_title {
        width: 85%;
    }
    table.bo_tbl .mo_st {
        display: block;
        margin-top: 5px;
        font-size: 11px;
        color: #999;
    }
    table.bo_tbl .mo_st span {
        margin: 0 10px 0 0;
    }
    table.bo_tbl td.re {
        text-align: left;
        background: url('../images/bo_re.png') no-repeat 10px 17px;
        padding-left: 24px;
    }
    /* 뷰 */
    .board_view h3 {
        font-size: 24px;
        color: #141414;
        font-weight: 600;
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    table.bo_tbl2 th {
        width: 20%;
        padding: 7px;
        text-align: left;
        border-bottom: #dddedf 1px solid;
        border-right: #dddedf 1px solid;
        font-size: 13px;
        color: #141414;
        font-weight: 600;
    }
    table.bo_tbl2 td {
        padding: 7px;
        text-align: left;
        border-bottom: #dddedf 1px solid;
        font-size: 13px;
        color: #555;
    }
    table.bo_tbl2 td img {
        width: 100% !important
    }
    table.bo_tbl2 td iframe {
        width: 90% !important
    }
    table.bo_tbl2 td div {
        width: 90%
    }
    table.bo_tbl2 td a {
        text-decoration: underline;
        overflow: hidden;
        word-break: break-all;
    }
    table.bo_tbl2 .mo100 {
        width: 100% !important;
    }
    table.bo_tbl2 .mot5 {
        margin-top: 10px;
    }
    table.bo_tbl2 .mob5 {
        margin-bottom: 10px;
    }
    /* 쓰기 */
    .board_write h3 {
        font-size: 24px;
        color: #141414;
        font-weight: 600;
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    .board_write table.bo_tbl2 th {
        width: 20%;
    }
    .mo_w100 {
        width: 100%
    }
    .mo_w96 {
        width: 96% !important
    }
}