.block {
    display: block;
}

/*브랜드 추가 css */

.container {
    width: 1180px;
    margin: auto;
    color: #141414;
}

h3 {
    font-weight: bold;
    font-size: 36px;
    color: #141414;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: #141414;
}

.introduce h3 {
    padding-bottom: 25px;
}

.introduce .intro_text {
    background-color: #2d394a;
    padding: 6% 4% 10%;
}

.introduce .intro_text p {
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 1.4em
}

.introduce .intro_text p:first-child {
    margin-bottom: 18px;
}

.introduce .intro_text .intro_main {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 1.3em;
}

.introduce .intro_img {
    width: 771px;
    margin-top: -68px;
    margin-left: 222px;
    background-color: white;
    padding: 20px;
}

.introduce .intro_img ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 18px;
}

.introduce .intro_img ul li:first-child {
    padding-left: 0px;
}

.bi {
    margin-bottom: 50px;
    margin-top: 8px;
    overflow: hidden;
}

.bi .bi_main {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
    padding-top: 65px;
    border-top: 1px solid #bcbcbc;
    color: #141414;
    padding-bottom: 10px;
}

.bi .bi_con img,
.bi .bi_text,
.bi .bi_con .bi_down {
    float: left;
}

.bi .bi_con p {
    line-height: 23px;
    color: #555555;
    margin-top: 0px;
    padding-left: 45px;
}

.bi .bi_con .bi_text p:first-child {
    padding-bottom: 34px;
}

.bi .bi_con .bi_text {
    font-size: 16px;
    width: 49%;
}

.bi .bi_con .bi_down {
    width: 70%;
    margin-top: 30px;
    margin-left: 145px;
}

.bi .bi_con .bi_down span {
    font-size: 16px;
    display: inline-block;
    background: url('../images/download.png') no-repeat 86% 12px;
    width: 40%;
    padding: 14px 35px 14px 0px;
    color: #444444;
    border: 1px solid #bcbcbc;
    text-align: center
}

.bi .bi_con .bi_down p {
    margin-right: 20px;
}

.process {
    background-color: #fb9e00;
    clear: both;
}

.process .process_img {
    width: 1180px;
    margin: auto;
}

.process p {
    color: #141414;
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 55px;
    margin-right: 20px;
}

.process img {
    padding-bottom: 55px;
    margin: auto;
    width: 100%;
}

.process .process_mo {
    display: none;
}

/*찾아오시는길*/

.location .wrap_map {
    height: 500px !important;
}

.location {
    margin: 0 auto;
}

.location h3 {
    font-size: 36px;
    padding-bottom: 30px;
}

.location .info {
    background-color: #f7f7f7;
    padding: 35px 30px;
}

.location .info p {
    padding-left: 20px;
    background: url('../images/dot.png')no-repeat left center;
    font-size: 18px;
    color: #555555;
    margin-bottom: 7px;
}

.location .info strong {
    color: #141414;
    width: 60px;
    display: inline-block;
}

/*이용안내- 개인정보수집 및 이용 */

.method_info textarea {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
    background: #fff;
    border: #dbdbdb 1px solid;
    padding: 1.5%;
    color: #666;
    line-height: 1.6em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/*이용안내- 이용요금 및 시간*/

.request_cost {
    overflow: hidden;
    padding-bottom: 30px;
}

.request_cost h3 {
    padding-bottom: 30px;
}

.request_cost h4 {
    padding-bottom: 20px;
}

.request_cost .cost_img {
    overflow: hidden;
    margin-bottom: 60px;
}

.request_cost .cost_img img {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.request_cost .cost_img p {
    display: inline-block;
}

.request_cost .cost_img p:first-child {
    margin-right: 24px;
}

.request_cost .cost_table,
.request_cost .time_table {
    float: left;
    width: 575px;
    display: inline-block;
}

.request_cost .cost_table table,
.request_cost .time_table table {
    width: 100%;
}

.request_cost .cost_table table th,
.request_cost .cost_table table td,
.request_cost .time_table table th,
.request_cost .time_table table td {
    vertical-align: middle;
    text-align: center;
    padding: 23px 0;
    font-size: 16px;
}

.request_cost .cost_table table th,
.request_cost .time_table table th {
    color: #141414;
    font-weight: bold;
    border-top: 2px solid #000000;
    border-bottom: 1px solid #000000;
}

.request_cost .cost_table table td,
.request_cost .time_table table td {
    border-bottom: 1px solid #dddedf;
}

.request_cost .cost_table_jeju {
    margin-left: 30px;
}

.request_cost .time_table {
    margin-top: 70px;
}

.request_cost .cost_table p,
.request_cost .time_table p {
    padding-top: 10px;
    font-size: 13px;
    color: #777777;
}

/* 대량주문-팝업테이블 */

.boxtypecode_table,
.categorycode_table {
    float: left;
    width: 575px;
    display: inline-block;
}

.boxtypecode_table table,
.categorycode_table table {
    width: 100%;
}

.boxtypecode_table table th,
.boxtypecode_table table td,
.categorycode_table table th,
.categorycode_table table td {
    vertical-align: middle;
    text-align: center;
    padding: 23px 0;
    font-size: 16px;
}

.boxtypecode_table table th,
.categorycode_table table th {
    color: #141414;
    font-weight: bold;
    border-top: 2px solid #000000;
    border-bottom: 1px solid #000000;
}

.boxtypecode_table table td,
.categorycode_table table td {
    border-bottom: 1px solid #dddedf;
}

.categorycode_table {
    margin-left: 30px;
}

.boxtypecode_table p,
.categorycode_table p {
    padding-top: 10px;
    font-size: 13px;
    color: #777777;
}

/*이용안내 - 유의사항*/

.request_note h3 {
    padding-bottom: 20px;
}

.attention_list li {
    padding-left: 7px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.attention_list li:fitst-child {
    padding-left: 0;
}

.attention_list2 {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    border-right: none;
}

.attention_list2:after {
    content: "";
    display: block;
    clear: both;
}

.attention_list2 li {
    overflow: hidden;
    padding: 25px;
    float: left;
    *display: inline;
    *zoom: 1;
    width: 33.33%;
    height: 120px;
    box-sizing: border-box;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.attention_list2 li img {
    padding-right: 20px;
    float: left;
}

.attention_list2 li:nth-child(7),
.attention_list2 li:nth-child(8),
.attention_list2 li:nth-child(9) {
    height: 150px;
}

.attention_list2 li:nth-child(1) {
    border-left: 0;
}

.attention_list2 li:nth-child(4) {
    border-left: 0;
}

.attention_list2 li:nth-child(7) {
    border-left: 0;
}

.attention_list2 li:nth-child(10) {
    border-left: 0;
}

.attention_list2 li:nth-child(12) .box_text {
    margin-top: 0;
}

.attention_list2 .box_text {
    font-size: 14px;
    width: 260px;
    float: right;
    margin-top: -70px;
    color: #555555;
}

.attention_list2 li strong {
    display: block;
    font-size: 18px;
    color: #121212;
    padding-bottom: 10px;
}

.bottom_text {
    padding-top: 10px;
    color: #f57900;
    padding-bottom: 60px;
    border-bottom: 1px solid #bcbcbc;
}

.bottom_text p:first-child {
    font-weight: bold;
}

.request_note h4 {
    padding-top: 60px;
    padding-bottom: 20px;
}

.attention_list li {
    color: #bcbcbc;
    font-size: 14px;
}

.attention_list li strong {
    color: #121212;
}

/*이용안내 - 홈페이지*/

.tab_contents {
    display: none;
}

.tab_contents .back {
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.tab_contents ul li {
    float: left;
    padding: 35px 0 35px 65px;
}

.tab_contents ul li:first-child {
    padding-left: 23px;
}

.tab_contents ul li .img {
    margin-bottom: 17px;
}

.tab_contents ul li .num {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    background: #57616e;
    border-radius: 10px;
    margin-right: 10px;
}

.tab_contents ul li .txt {
    display: inline-block;
    vertical-align: top;
    width: 205px;
    line-height: 24px;
    margin-top: -2px;
    text-align: center;
}

.tabmenu1 {}

.tabmenu1 {
    width: 100%;
    overflow: hidden;
}

.tabmenu1 ul li {
    width: 190px;
    float: left;
    margin: 0 -1px 0 0;
}

.tabmenu1 ul li:first-child {
    width: 191px;
}

.tabmenu1 ul li a {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #898989;
    padding: 11px 0 15px;
    background-color: #d6d6d6;
}

.tabmenu1 ul li.on {
    position: relative;
}

.tabmenu1 ul li.on a {
    font-weight: bold;
    color: #121212;
    border-top: 2px solid #f59900;
    background-color: #fff;
    border-bottom: 0;
    padding: 11px 0 16px;
}

.tabmenu1.tab5ea ul li {
    width: 237px;
    float: left;
    margin: 0 -1px 0 0;
}

.tabmenu1.tab5ea ul li a {
    font-size: 18px;
    padding: 11px 0 14px;
}

.tabmenu1.tab5ea ul li:first-child {
    width: 236px;
}

.tabmenu1.tab5ea ul li.on a {
    padding: 11px 0 15px;
}

/*이용안내 - 택배신청방법*/

.gray {
    background-color: #ededed;
}

.request_method h3 {
    padding-bottom: 22px;
}

.request_method h4 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.request_method p {
    padding-top: 30px;
}

.method_non {
    padding: 80px 0;
}

.gray .container {
    padding: 30px 0
}

.tab_contents ul li p:first-child {
    background-color: orange;
    width: 83px;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    color: #2b3443;
    font-weight: bold;
    margin: auto;
    font-size: 16px;
}

.tab_contents img {
    padding-top: 20px;
}

.tabmenu1 ul li {
    padding-left: 0;
    text-align: center;
}

.tabmenu1 ul li:first-child {
    margin-right: 5px;
    display: block;
}

.method_mo {
    display: none;
}

/*마이페이지 - 결제정보*/

.mypage_re th.mid {
    border-bottom: 1px solid #dddedf;
    background-color: #f5f5f5;
}

.mypage_re .board_view1 table th {
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #dddedf;
}

.mypage_re h4 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.mypage_re .left_table {
    float: left;
}

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table {
    width: 50%
}

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic {
    background-color: white !important;
    padding: 0;
}

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table th {
    background-color: #eeeeee;
    padding: 5px;
    padding-left: 26px;
}

.mypage_re .arcodian_list1 dl dd .summary {
    border-top: 2px solid #5c6067;
}

.mypage_re .address_info .order_num {
    text-decoration: underline;
    font-weight: bold;
    color: #ee761b;
}

.mypage_re .address_state {
    display: inline-block;
    padding-top: 28px;
}

.mypage_re .address_state p:nth-child(3) {
    font-weight: bold;
    color: #ee761b;
}

.mypage_re .address_state a {
    font-weight: bold;
    color: #444444;
    border: 1px solid #9ea2a8;
    line-height: 30px;
    padding: 5px 15px;
}

.mypage_re .arcodian_list1 {
    border-top: none;
}

.mypage_re .board_view1 table td {
    padding-left: 0;
}

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table th .th_wrap1 {
    background: none;
    padding-left: 20px;
    background: none;
}

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table th {
    padding: 5px;
    padding-left: 26px;
}

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table td {
    padding-left: 20px;
}

/*tablet*/

@media( max-width: 1360px) {
    /* 브랜드소개 */
    .bi .bi_con .bi_text {
        width: 100%;
    }
    .introduce .intro_img {
        width: 500px;
        margin: auto;
    }
    .introduce .intro_img ul li {
        padding-left: 0;
        width: 45%;
        padding-top: 20px;
    }
    .introduce .intro_img ul li:nth-child(even) {
        margin-left: 35px;
    }
    .bi .bi_main {
        border-top: none;
        padding-top: 0;
    }
    .bi_con img {
        width: 100%;
    }
    .bi .bi_con p {
        width: 90%
    }
    .bi .bi_con .bi_text p:first-child {
        padding-top: 2%
    }
    .bi_down_mo {
        width: 49%;
        margin: auto;
    }
    .introduce .intro_text p {
        color: #141414;
        font-size: 16px;
        line-height: 1.4em
    }
    .introduce .intro_text {
        padding: 3% 2% 3%;
        background-color: white;
    }
    .bi .bi_con .bi_down {
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        margin: auto;
    }
    .bi .bi_con .bi_down span {
        text-align: center;
        font-size: 16px;
        width: 49%
    }
    .process .process_img {
        width: 93%
    }
    .bi {
        margin-bottom: 0;
    }
    /* 찾아오시는 길 */
    .location .wrap_map {
        height: 400px !important;
    }
    /*이용안내및 요금*/
    .request_cost .cost_img {
        overflow: hidden;
        margin-bottom: 0px;
        text-align: center;
    }
    .request_cost .time_table {
        width: 100%;
    }
    .request_cost .cost_table .hr {
        display: block;
    }
    .request_cost .cost_img p {
        width: 48%;
    }
    .request_cost .cost_img p img {
        width: 100%
    }
    .request_cost .cost_img p:first-chlid {
        padding-right: 10px;
    }
    .request_cost .time_table {
        margin-left: 0;
    }
    .request_cost .cost_table,
    .request_cost .time_table {
        width: 100%;
        margin-top: 40px;
    }
    .request_cost .cost_img p:first-child {
        margin-right: 0;
    }
    .request_cost .cost_table p:nth-child(2) {
        padding-top: 0;
    }
    /*이용안내및 택배신청방법*/
    .request_method img {
        width: 100%
    }
    .tabmenu1.tab5ea ul li a {
        font-size: 14px
    }
    .tab_contents ul li:first-child {
        padding-left: 0;
    }
    .tab_contents ul li {
        text-align: center;
        width: 25%;
        padding: 20px 0;
    }
    .tab_contents img {
        width: 80%;
    }
    /*이용요금 및 시간*/
    .request_note .attention_list {
        width: 95%;
        margin: auto;
    }
    .request_note .attention_list li {
        width: 48%;
    }
    .request_note .attention_list li img {
        width: 100%;
    }
    .request_note .attention_list li:nth-child(3),
    .request_note .attention_list li:nth-child(4) {
        padding-top: 10px;
    }
    .request_note .bottom_text {
        padding-left: 5%;
    }
    .attention_list2 li {
        display: block;
        height: 216px;
        height: 0;
        padding: 15px;
    }
    .attention_list2 li img {
        display: block;
        margin: auto;
        padding-right: 0;
        float: none;
    }
    .attention_list2 .box_text {
        display: block;
        width: 100%;
        word-break: keep-all;
        text-align: center;
        height: 170px;
        margin-top: 5px;
    }
    .attention_list2 li:nth-child(1),
    .attention_list2 li:nth-child(2),
    .attention_list2 li:nth-child(3) {
        height: 180px;
    }
    .attention_list2 li:nth-child(4),
    .attention_list2 li:nth-child(5),
    .attention_list2 li:nth-child(6) {
        height: 185px;
    }
    .attention_list2 li:nth-child(7),
    .attention_list2 li:nth-child(8),
    .attention_list2 li:nth-child(9) {
        height: 235px
    }
    .attention_list2 li:nth-child(10),
    .attention_list2 li:nth-child(11),
    .attention_list2 li:nth-child(12) {
        height: 180px;
    }
    /*마이페이지 - 택배현황*/
    .mypage_re .address_state {
        padding-left: 30px;
    }
    .mypage_re h4 {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 0;
        margin-bottom: 6px;
    }
}

/*mobile*/

@media( max-width: 767px) {
    h3 {
        font-weight: bold;
        font-size: 24px;
        color: #141414;
    }
    h4 {
        font-size: 20px;
        font-weight: bold;
        color: #141414;
    }
    /*이용안내 - 택배신청방법*/
    .request_method img {
        width: 100%;
    }
    .method_non {
        padding: 50px 0 30px 0;
    }
    .tab_contents ul {
        padding: 20px 0;
    }
    .tab_contents ul li:first-child {
        padding-left: 0;
    }
    .tab_contents ul li {
        padding: 0;
        width: 50%;
    }
    .tab_contents img {
        width: 80%;
        margin: auto;
        display: block;
    }
    .tab_contents ul li .txt {
        font-size: 13px;
        width: 171px;
        padding-bottom: 20px;
    }
    .method_mo {
        display: block;
    }
    .method_pc {
        display: none;
    }
    /*브랜드 & 서비스 소개 */
    .introduce .intro_text {
        width: 97%;
        padding: 0;
        margin: auto;
        background-color: white;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .introduce .intro_text .intro_main {
        font-size: 20px;
        color: #141414;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .introduce .intro_text .intro_sub p {
        color: #141414;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .introduce .intro_text p {
        text-align: left;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .introduce .intro_img {
        margin-left: 0;
        padding: 0;
        width: 97%;
        margin: auto;
    }
    .introduce .intro_img img {
        width: 100%;
    }
    .introduce .intro_img ul li {
        width: 49%;
    }
    .introduce .intro_img ul li:nth-child(even) {
        margin-left: 0;
    }
    .bi {
        margin-bottom: 10px;
    }
    .bi .bi_main {
        border: none;
        padding-top: 0;
    }
    .bi .bi_con img {
        width: 100%;
        padding-bottom: 5%;
    }
    .bi .bi_con .bi_text {
        width: 100%;
    }
    .bi .bi_con p {
        margin: 0 auto;
        padding-left: 0;
        width: 95%;
    }
    .bi .bi_con .bi_down {
        padding-top: 20px;
        margin: 0 auto;
        width: 98%;
    }
    .bi .bi_con .bi_down p {
        background: url('../images/download.png') no-repeat 88% 40%;
        width: 35%;
        margin-right: 0;
        display: inline-block;
    }
    .bi .bi_con .bi_text {
        margin-bottom: 30px;
    }
    .bi .bi_con .bi_down span {
        font-size: 14px;
        width: 49%;
        padding: 14px 30px 14px 0px;
    }
    .bi .bi_con img,
    .bi .bi_text,
    .bi .bi_con .bi_down {
        float: none;
    }
    .bi_down_mo {
        width: 100%;
        margin: auto;
    }
    .process .process_img {
        width: 90%;
        margin: auto;
    }
    .process p {
        padding-top: 20px;
    }
    .process img {
        width: 100%;
        padding-bottom: 25px;
    }
    .process .process_mo {
        display: block;
    }
    .process .process_pc {
        display: none;
    }
    .sub_visual.no2 .copy img {
        width: 275px;
    }
    /*찾아오시는길*/
    .location .map .wrap_map {
        height: 300px !important;
    }
    .location h3 {
        font-size: 24px;
        padding-bottom: 15px;
    }
    .location .info {
        padding: 13px 10px 10px 10px;
        margin: auto;
    }
    .location .info p {
        font-size: 12px;
        padding-left: 12px;
    }
    /*이용안내및요금*/
    .request_cost {
        padding-bottom: 20px;
    }
    .request_cost h3 {
        padding-bottom: 15px;
    }
    .request_cost h4 {
        padding-bottom: 15px;
    }
    .request_cost .cost_img p {
        text-align: center;
    }
    .request_cost .cost_img p:first-child {
        margin-right: 4%;
    }
    .request_cost .cost_table table th,
    .request_cost .cost_table table td,
    .request_cost .time_table table th,
    .request_cost .time_table table td {
        font-size: 13px;
        padding: 15px 0;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .request_cost .cost_table,
    .request_cost .time_table {
        width: 100%;
    }
    .request_cost .cost_table {
        margin-top: 0px;
    }
    .request_cost .cost_table_jeju {
        margin-left: 0;
        margin-top: 40px;
    }
    .request_cost .cost_img {
        margin-bottom: 25px;
    }
    .request_cost .cost_table .hr {
        display: block;
    }
    .request_cost .cost_img p {
        width: 100%;
    }
    .attention_list2 li {
        padding: 8px;
        width: 50%;
    }
    .attention_list2 .box_text {
        padding-top: 7px;
    }
    .attention_list2 li strong {
        font-size: 16px
    }
    .attention_list2 li:nth-child(1),
    .attention_list2 li:nth-child(2),
    .attention_list2 li:nth-child(3) {
        height: 200px;
    }
    .attention_list2 li:nth-child(4) {
        height: 200px;
    }
    .attention_list2 li:nth-child(4),
    .attention_list2 li:nth-child(5),
    .attention_list2 li:nth-child(6) {
        height: : 200px;
    }
    .attention_list2 li:nth-child(10) {
        border-bottom: 1px solid #dfdfdf;
    }
    .attention_list2 li:nth-child(7),
    .attention_list2 li:nth-child(8),
    .attention_list2 li:nth-child(9) {
        height: 265px;
    }
    .attention_list2 li:nth-child(9),
    .attention_list2 li:nth-child(10) {
        height: 185px;
    }
    .attention_list2 li:nth-child(11),
    .attention_list2 li:nth-child(12) {
        height: 190px;
    }
    .attention_list2 li:nth-child(3),
    .attention_list2 li:nth-child(5),
    .attention_list2 li:nth-child(9),
    .attention_list2 li:nth-child(11) {
        border-left: none;
    }
    .attention_list2 li:nth-child(13) {
        height: 200px;
    }
    /* 이용약관 */
    .method_info textarea {
        height: 350px;
    }
    /*마이페이지 -택배신청현황*/
    .mypage_re .value_icon {
        display: block;
        margin: auto;
    }
    .mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table {
        width: 100%;
    }
    .mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table th {
        padding-left: 0px;
    }
}

/*마이페이지 - 결제정보	*/

.mypage_re .address_state {
    padding-left: 10px;
    padding-bottom: 20px;
}

/*.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table{width: 100%;}
*/

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table th {
    height: 35px;
}

.mypage_re .arcodian_list1 dl dd .summary .delivery_info_basic table td {
    padding-left: 10px;
}

}