body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: visible !important;
}

/* CHAT BUTTON */

/*.chat-btn{position: fixed;top: 88%;right: 3%;z-index: 99999;}*/

.chat-btn img {
    width: 50px;
    height: 50px;
}

/* 헤드 */

.hd_w .logo {
    float: left;
    margin-left: 35px;
    ;
    margin-top: 23px;
}

.hd_w .logo a {
    display: inline-block;
    position: relative;
}

#wrapper {}

#hd {
    /* overflow:auto; height: 100%; */
}

#hd {
    height: 60px;
}

.hd_w {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #F99D1C;
}

.hd_w:before {
    height: 60px;
}

#hd.jb_f {
    height: auto;
    border-bottom: 2px solid #e70012;
}

#hd.jb_f .hd_w .ham_btn span {
    background: #e70012;
}

#hd.mb_hd_on {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999
}

.inner {
    width: 94% !important;
    margin-left: auto;
    margin-right: auto;
}

.br {
    display: none;
}

.mb_br {
    display: block;
}

.mbr {
    display: block;
}

.page_tit {
    font-size: 26px;
    padding-top: 115px;
    padding-bottom: 30px;
}

.snb li {
    width: 120px;
    line-height: 40px;
}

.snb li a {
    font-size: 15px;
}

#hd {
    background: #fff;
}

.hd_w .logo {
    float: none;
    display: inline-block;
    width: 120px;
    margin-left: 3%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
}

.hd_w .logo a {
    display: inline-block;
    text-align: left;
}

.hd_w .logo img {
    height: 14px;
}

.hd_w .ham_btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 2%;
    width: 40px;
    height: 40px;
}

.hd_w .ham_btn span {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    transition-duration: 0.4s;
    background: #2d394a;
    left: 50%;
    margin-left: -12px;
}

.hd_w .ham_btn span:nth-child(1) {
    top: 10px;
    transform: rotate(0deg);
}

.hd_w .ham_btn span:nth-child(2) {
    top: 18px;
    display: block;
}

.hd_w .ham_btn span:nth-child(3) {
    top: 26px;
    transform: rotate(0deg);
}

.hd_w .close_btn {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 2%;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.hd_w .close_btn span {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    transition-duration: 0.4s;
    background: #3c4756;
    left: 50%;
    margin-left: -12px;
}

.hd_w .close_btn span:nth-child(1) {
    top: 18px;
    transform: rotate(45deg);
    width: 23px;
}

.hd_w .close_btn span:nth-child(2) {
    display: none;
}

.hd_w .close_btn span:nth-child(3) {
    top: 18px;
    transform: rotate(-45deg);
    width: 23px;
}

.hd_w:before {
    border-bottom: 0;
}

.hd_w .top_hd {
    padding: 15px 0;
}

.hd_w .mb_gnb {
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    z-index: 99999;
    background: #fff;
}

.hd_w .mb_gnb_on {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.hd_w .mb_gnb .hd_r .call {
    color: #3772b9;
}

.hd_w .gnb_logo {
    width: 100%;
    height: 60px;
    text-align: left;
    border-bottom: 2px solid #f59900;
}

.hd_w .gnb_logo img {
    height: 14px;
}

.hd_w .gnb_logo a {
    margin-left: 5%;
}

.hd_w .mb_gnb .inner {
    width: 100%;
}

.hd_w .mb_gnb .cate_li {
    position: relative;
    float: none;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #bdbdbd;
    margin: 0;
}

.hd_w .mb_gnb .cate_li:first-child {
    border-left: none;
}

.hd_w .mb_gnb .cate_li>a {
    display: block;
    text-align: left;
    background: #fff;
    padding: 14px 2%;
    color: #333;
    font-size: 15px;
}

.hd_w .mb_gnb .cate_li i {
    margin-right: 5px;
}

.hd_w .mb_gnb .cate_li .dep1_menu {
    cursor: pointer;
    display: block;
    text-align: left;
    padding: 14px 3%;
    color: #000;
    font-size: 15px;
    transition: all 0.2s ease;
    width: 100%;
    height: 49px;
    background: url('../images/menu_btn.png') #e3e3e3 96% 46% no-repeat;
    background-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hd_w .mb_gnb .cate_li .dep1_menu.btn_on {
    color: #fff;
    transition: all 0.2s ease;
    background: url('../images/menu_btn_on.png') #f59900 96% 46% no-repeat;
    background-size: 18px;
}

.hd_w .mb_gnb .dep2 {
    display: none;
    width: 100%;
    position: relative;
    border: none;
    border-top: 1px solid #ddd;
    padding: 2% 0px;
    background: #fff;
    text-align: left;
}

.hd_w .mb_gnb .dep2 li {
    border-bottom: none;
    padding: 2% 4%;
}

.hd_w .mb_gnb .dep2 li a {
    position: relative;
    font-size: 14px;
    color: #5c5c5c;
    padding-left: 10px;
}

.hd_w .mb_gnb .cate {
    overflow: hidden;
}

.hd_w .hd_r {
    left: 2%;
    width: 140px;
    top: 25px;
}

.hd_w .hd_r .call {
    font-size: 15px;
    margin-top: 0;
}

.hd_w .hd_r .call img {
    width: 30px;
    padding-right: 3px;
    margin-top: -3px;
}

.hd_w .hd_r .smp_tb {
    display: none;
}

.snb li {
    width: 30%;
}

.snb li a {
    font-size: 13px;
}

.stit {
    font-size: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page_tit {
    padding-top: 85px;
}

.mb_half_img {
    text-align: center;
}

.mb_half_img img {
    max-width: 50%;
}

.only_mb_blk {
    display: block !important;
}

.mb100 {
    margin-bottom: 50px !important;
}

.mb60 {
    margin-bottom: 30px !important;
}

.list_3 li {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

.list_3 li:nth-child(3n) {
    margin-right: 2%;
}

.list_3 li:nth-child(2n) {
    margin-right: 0;
}

.list_4 li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
}

.list_4 li:nth-child(2n) {
    margin-right: 0;
}

.list_5 li {
    width: 31%;
    margin-right: 3.5%;
}

.list_5 li:nth-child(5n) {
    margin-right: 3.5%;
}

.list_5 li:nth-child(3n) {
    margin-right: 0;
}

.list_6 li {
    width: 30%;
    margin-right: 5%;
}

.list_6 li:nth-child(3n) {
    margin-right: 0;
}

/* dl, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 */

input:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}