@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean');
/*@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);*/

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

* {
    -webkit-text-size-adjust: none
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body,
form,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
th,
td,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-family: 'nanum', '나눔 고딕', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
    font-weight: normal
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    font-family: 'nanum', '나눔 고딕', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
    text-decoration: none;
    font-family: "nanum";
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    width: 100%;
    height: 100%
}

li {
    list-style: none
}

a {
    text-decoration: none
}

a[href^="tel"] {
    font-style: normal
}

address,
caption,
em,
var {
    font-style: normal;
    font-weight: normal
}

input,
textarea,
select {
    letter-spacing: normal
}

ol,
ul,
dl {
    list-style: none
}

fieldset,
img {
    border: 0
}

legend,
caption {
    display: none
}

img {
    border: 0;
    vertical-align: top;
    -webkit-perspective: 1;
}

img,
fieldset {
    border: 0;
}

li img,
dd img,
dt img,
label img {
    vertical-align: top;
}

hr {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

br {
    letter-spacing: normal
}

p {
    letter-spacing: normal
}

input {
    vertical-align: middle;
}

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: none;
    display: none;
}

input:checked[type="checkbox"] {
    background-color: #fff;
    -webkit-appearance: checkbox
}

input[type="radio"] {
    /*border:none;-webkit-appearance:none;*/
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
    -webkit-appearance: button;
    border-radius: 0
}

textarea {
    -webkit-appearance: none
}

select {
    -webkit-appearance: menulist-text
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

input,
select,
textarea,
button {
    font-family: "nanum";
    font-size: 14px;
    color: #333;
}

img,
input,
select {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "nanum";
    font-size: 14px;
    color: #333;
}

.hide {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden
}

.cf:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
}

.bd {
    border: 1px solid #ccc;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

button {
    cursor: pointer;
}

.h44 {
    height: 43px;
}

/**
* Template Name: Bocor - v2.0.0
* Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* @font-face {font-family: 'nanum-Gothic-r'; src: url('/fonts/NanumGothicCoding.ttf');
font-weight: normal; font-style: normal;
}

@font-face {font-family: 'nanum-Gothic-b'; src: url('/fonts/NanumGothicCoding-Bold.ttf');
font-weight: normal; font-style: normal;
}

.about, .faq, #m_footer {
    font-family: "nanum-Gothic-r";
	color: #444444;
} */

/*body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
    margin: 0 !important;
    !*
    letter-spacing: -1.5px !important;
    *!
}*/

a {
    color: black;
}

a:hover {
    color: #1b4b72;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: "Raleway", sans-serif;*/
    font-family: 'NanumSquare', sans-serif
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #284864;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
    transition: all ease-in-out 0.3s;
}

.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.back-to-top:hover {
    color: #fff;
    background: #fdc134;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 60px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 16px 0;
    background: #213b52;
}

#header .logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "nanum-Gothic-b";
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo h1 a span,
#header .logo h1 a:hover span {
    color: #fdc134;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu ul {
    border-radius: 6px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #adc7de;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #fff;
    text-decoration: none;
}

.nav-menu .get-started a {
    background: #213b52;
    color: #fff;
    border-radius: 50px;
    margin: 2px 0 0 15px;
    padding: 4px 25px 6px 25px;
    border: 2px solid #fdc134;
}

.nav-menu .get-started a:hover {
    background: #fdc134;
    color: #213b52;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #3e6f9b;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #fdc134;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #fdc134;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #213b52;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
    transition: 0.3s;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #fdc134;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav .get-started a {
    background: #213b52;
    color: #fff;
    border-radius: 50px;
    margin: 15px;
    padding: 8px 25px 10px 25px;
    text-align: center;
}

.mobile-nav .get-started a:hover {
    background: #fdc134;
    color: #213b52;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(18, 33, 46, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    padding: 0 0 0 0;
    background: #213b52;
    background: linear-gradient(180deg, #213b52 0%, #213c54 35%, #204564 100%);
}

#hero h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #d2e0ed;
    font-family: "Poppins", sans-serif;
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 22px;
}

#hero .btn-get-started {
    color: #213b52;
    border-radius: 50px;
    padding: 8px 35px 10px 35px;
    border: 2px solid #fdc134;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: #fdc134;
}

#hero .btn-get-started:hover {
    background: transparent;
    color: #fff;
}

@media (max-width: 991px) {
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero {
        -moz-text-align-last: center;
        text-align-last: center;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 0;
    overflow: hidden;
}

/*.section-bg {*/

/*  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);*/

/*}*/

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #213b52;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #fdc134;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

.clients {
    padding: 0;
}

.clients .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 120px;
}

.clients .client-logo img {
    height: 40px;
}

.clients .client-logo:hover img {
    transform: scale(1.2);
}

.clients img {
    transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content {
    padding: 30px 0;
}

.about .content h3 {
    font-weight: 700;
    font-size: 34px;
    color: #213b52;
}

.about .content p {
    margin-bottom: 0;
}

.about .content .icon-box {
    margin-top: 25px;
}

.about .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
    color: #213b52;
}

.about .content .icon-box h4 a {
    color: #213b52;
    transition: 0.3s;
}

.about .content .icon-box h4 a:hover {
    color: #fdc134;
}

.about .content .icon-box i {
    font-size: 48px;
    float: left;
    color: #fdc134;
}

.about .content .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
}

.about .image {
    background: url("../img/about.jpg") center center no-repeat;
    background-size: cover;
    min-height: 400px;
}

@media (max-width: 667px) {
    .about .image img {
        max-width: 100%;
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
    padding-bottom: 40px;
}

.services .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}

.services .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.services .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.services .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
}

.services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.services .card-title a {
    color: #213b52;
    transition: 0.3s;
}

.services .card-text {
    color: #5e5e5e;
}

.services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}

.services .read-more a:hover {
    color: #fdc134;
}

.services .card:hover img {
    transform: scale(1.1);
}

.services .card:hover .card-body {
    border-color: #fdc134;
}

.services .card:hover .card-body .card-title a {
    color: #fdc134;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .content+.content {
    margin-top: 100px;
}

.features .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #213b52;
}

.features .content ul {
    list-style: none;
    padding: 0;
}

.features .content ul li {
    padding-bottom: 10px;
}

.features .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #fdc134;
}

.features .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 5px 5px 0;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #fdc134;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(33, 59, 82, 0.6);
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
}

.portfolio .portfolio-wrap img {
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    top: calc(50% - 36px);
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fdc134;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #fff;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio .portfolio-wrap:hover::before {
    left: 0;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    top: calc(50% - 18px);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team .member {
    text-align: center;
    margin-bottom: 20px;
}

.team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 260px;
}

.team .member .pic img {
    max-width: 100%;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #213b52;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.team .member .social {
    margin-top: 15px;
}

.team .member .social a {
    color: #5289ba;
    transition: 0.3s;
}

.team .member .social a:hover {
    color: #fdc134;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.pricing .row {
    padding-top: 40px;
}

.pricing .box {
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    text-align: center;
    position: relative;
}

.pricing .featured-badge {
    display: inline-block;
    position: absolute;
    top: -11px;
    left: calc(50% - 49px);
    background: #fdc134;
    color: #fff;
    text-align: center;
    line-height: 1;
    border-radius: 50px;
    padding: 4px 20px 5px 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.pricing h3 {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 28px;
}

.pricing h4 {
    font-size: 46px;
    color: #fdc134;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
}

.pricing h4 span {
    color: #bababa;
    font-size: 18px;
    display: block;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}

.pricing ul li {
    padding-bottom: 12px;
}

.pricing ul i {
    color: #fdc134;
    font-size: 18px;
    padding-right: 4px;
}

.pricing ul .na {
    color: #ccc;
}

.pricing ul .na i {
    color: #ccc;
}

.pricing ul .na span {
    text-decoration: line-through;
}

.pricing .get-started-btn {
    background: #213b52;
    display: inline-block;
    padding: 6px 30px;
    border-radius: 20px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    transition: 0.3s;
}

.pricing .get-started-btn:hover {
    background: #fdc134;
}

.pricing .featured {
    z-index: 10;
    margin: -30px -5px 0 -5px;
    border: 1px solid #fdc134;
}

.pricing .featured .get-started-btn {
    background: #fdc134;
}

.pricing .featured .get-started-btn:hover {
    background: #fdcd5c;
}

@media (max-width: 992px) {
    .pricing .box {
        max-width: 60%;
        margin: 0 auto 30px auto;
    }
}

@media (max-width: 767px) {
    .pricing .box {
        max-width: 80%;
        margin: 0 auto 30px auto;
    }
}

@media (max-width: 420px) {
    .pricing .box {
        max-width: 100%;
        margin: 0 auto 30px auto;
    }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.faq .faq-item {
    margin: 0 0;
    padding: 15px 0 15px 0;
    /*  border-bottom: 1px solid #dde8f1; */
}

.faq .faq-item-mid {
    margin: 0 0;
    padding: 22px 0 22px 0;
    border-bottom: 2px solid #9ba0a3;
}

.faq .faq-item-top {
    margin: 0 0;
    padding: 15px 0 15px 0;
    /* border-bottom: 1px solid #dde8f1;
    border-top: 2px solid #9ba0a3; */
}

.faq .faq-item-top .margin-top-10 {
    margin-top: 5px;
}

.faq .faq-item .margin-top-10 {
    margin-top: 10px;
}

.faq .faq-item i {
    /* color: #9bbbd7; */
    color: #F99D1C;
    font-size: 20px;
    float: left;
    line-height: 0;
    padding: 13px 0 0 0;
    margin: 0;
}

.faq .faq-item-top i {
    /* color: #9bbbd7; */
    color: #F99D1C;
    font-size: 20px;
    float: left;
    line-height: 0;
    padding: 13px 0 0 0;
    margin: 0;
}

.faq .faq-item-mid i {
    /* color: #9bbbd7; */
    color: #F99D1C;
    font-size: 20px;
    float: left;
    line-height: 0;
    padding: 13px 0 0 0;
    margin: 0;
}

.faq .faq-item h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin: 0 0 10px 28px;
    font-family: "Poppins", sans-serif;
}

.faq .faq-item p {
    font-size: 15px;
}

#faq {
    margin-top: 2.5rem;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
}

.contact .info-box i {
    font-size: 32px;
    color: #fdc134;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #fff7e5;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
    background-color: #fdc134;
}

.contact .php-email-form input {
    padding: 20px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #fdc134;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #fdd067;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#m_footer {
    /*   background: url("../img/footer-bg.jpg") center center no-repeat;
 */
    color: #fff;
    font-size: 23px;
    position: relative;
}

/*#m_footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(26, 46, 64, 0.85);
  z-index: 1;
}*/

#m_footer .footer-top {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    margin: auto;
}

#m_footer .footer-top .center {
    /*
    background-color: #F1F2F2;
    */
}

#m_footer div .footer-top ul.center {
    text-align: center;
    padding: 0 !important;
}

/*.homepick-item {
    padding: 0 7px 7px;
}*/

.homepick-item span {
    font-size: 14px;
    /* font-weight: 600; */
    color: gray;
}

.brs {
    border-right: 1px solid black;
}

/*.fl {
	float: inherit;
}*/

.inline {
    display: inline-block;
}

.large {
    font-size: large;
}

.large-bold {
    font-size: large;
    font-weight: bolder;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    /* 200319 異붽� */
    font-family: 'NanumSquareWeb' !important;
}

.bold {
    font-weight: bolder;
}

#main .notice-item ul li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#main .notice-item {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 50px;
    background-color: #F1F2F2;
}

/*異붽�*/

#main .notice {
    margin-top: 2rem;
    margin-bottom: 25%;
    width: 100%;
    height: 95px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: left;
    color: #3E3E3E;
}

#main .notice .container .notice-item .notice-first {
    margin: 0 5px;
}

#main .container .homepick_reserved {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FDDDB9;
    margin-bottom: 20px;
}

.reserve_list {
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #9ba0a3;
    margin-bottom: 20px;
}

.reserve_list_icon {
    height: 3%;
}

#main .container .quick_reserved {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F1F2F2;
    margin-bottom: 15px;
}

#main .container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.container .img-center {
    width: 100%;
    background-position: center;
}

.main_img {
    width: 99%;
    height: 12%;
    -webkit-width: 99%;
    -webkit-height: 12%;
}

.t-c-aaa {
    color: #7f7f7f;
    font-size: 11px;
    padding-top: 3px;
    display: inline-block;
}

.only_mb_blk .cate cf {
    list-style: none;
}

.align-items-stretch .right-arrow {
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 22px;
}

.align-items-stretch .right {
    text-align: right;
    margin-top: -2px;
}

.p-l-5 {
    padding-left: 5px !important;
}

/*m_order*/

#wrap {
    width: 100%;
    margin: auto;
    padding-bottom: 58px;
}

.wrap {
    width: 100%;
    margin: auto;
    padding-bottom: 58px;
}

#container {
    width: 95%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}

#content {}

.m_ttl_area {
    width: 100%;
}

.m_ttl_area h2 {
    font-size: 2em;
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 22px;
}

.m_ttl_area h2 span {}

.m_ttl_area h2 span img {
    max-width: 100%;
    height: auto;
}

.m_ttl_area h2 strong {
    background: url(../images/bg_high.png) no-repeat 30% 100%;
}

.m_ttl_area .dep_info {
    margin-bottom: 22px;
}

.m_ttl_area .dep_info .dep_name {}

.info_1 {
    width: 70%;
}

.m_ttl_area .dep_info .dep_name p {
    display: inline;
    font-size: 0.929em;
    font-weight: 600;
}

.m_ttl_area .dep_info .dep_add {}

.m_ttl_area .dep_info .dep_add p {}

.btn_dep_modi {}

.btn_m_1 {
    padding: 2px 18px;
    /*width: 50px; height: 36px;*/
    border: none;
    background: rgba(521, 158, 0, .6);
    color: #fff;
    margin-top: 13px;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
}

.btn_dep_modi button {}

.dep_date {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 12px;
    padding-bottom: 20px;
}

.dep_date p {
    text-align: center;
}

.dep_date .date_1 {
    font-size: 0.929em;
}

.wrap_date_2 {}

.dep_date .date_2 {
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.286em;
    color: #f99d1c;
    /*padding-top:18px;*/
    padding-bottom: 0;
    margin-bottom: 0;
}

.dep_date .date_3 {
    text-align: center;
    margin-bottom: 0;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.dep_date .date_3 span.ic_tm {
    display: block;
    padding-bottom: 5px;
}

.dep_date .date_3 span.ic_tm img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-top: -3px;
    margin-right: 5px;
}

.dep_date .date_3 strong {
    display: block;
    color: #f99d1c;
    font-size: 1.286em;
    font-weight: bold;
}

.dep_date .date_3 span.d_ex {
    display: block;
    color: #333;
    font-size: 0.929em;
}

.o_result {
    border: none;
    padding: 18px 21px;
    margin-top: 4px;
    margin-bottom: 17px;
    border: 1px solid #ccc;
}

.m_form_area {}

.m_form_area h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 6px;
}

.m_form_area h3.mt18 {
    margin-top: 18px;
}

.m_form_area div.w50 {
    width: 48%;
}

.m_form_area div input {}

.m_form_area div input.creditcard {
    margin-left: 15px;
}

.m_form_area .ph_num input {
    width: 19%;
    padding-left: 5px;
}

.m_form_area .ph_num input.num_a {
    width: 20%;
    padding-left: 16px;
}

.m_form_area div select.m_input {
    width: 100%;
    background: #fff url(../images/select_cursor_2.png) 97% 50%no-repeat;
    padding-left: 12px;
}

.m_form_area p select.m_input {
    width: 100%;
    background: #fff url(../images/select_cursor_2.png) 97% 50%no-repeat;
    padding-left: 12px;
}

.m_form_area .he78 {
    height: 78px;
}

.m_form_area .w100 {
    width: 100%;
}

.m_form_area .cmt {
    font-size: 0.786em;
    color: #666;
}

/*paging*/

.m_paging {
    width: 41px;
    margin: 0 auto 10px;
    /*position: absolute; top:91%;left: 50%; margin-left: -20.5px;*/
}

.m_paging span {
    float: left;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 3px;
}

.m_paging span:first-child {
    margin-left: 0;
}

.m_paging span.on {
    border: 3px solid #fa9e00;
}

.m_paging span.off {
    border: 3px solid #ccc;
}

.btn_under {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.btn_under .btn_1 {
    font-family: 'NanumSquare', sans-serif;
    width: 100%;
    height: 58px;
    font-size: 1.357em;
    border: none;
    color: #fff;
    font-weight: bold;
    background: #fb9e00;
}

.btn_under .btn_2 {
    width: 50%;
    height: 58px;
    border: none;
    border-top: 1px solid #fb9e00;
    color: #fb9e00;
    font-size: 1.357em;
}

.btn_under .btn_3 {
    width: 50%;
    height: 58px;
    border: none;
    background: #fb9e00;
    color: #fff;
    font-size: 1.357em;
    font-weight: bold;
}

.btn_under .btn_4 {
    width: 33.333%;
}

.btn_under .bdr {
    border-right: 1px solid #fb9e00;
}

/*order_info*/

.order_info {}

.m_form_area input {
    padding: 0 0 0 5px;
    box-sizing: border-box;
}

.m_table_1 {
    border: 1px solid #ccc;
}

.m_table_1 tr {
    height: 44px;
}

.m_table_1 th {
    width: 15%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-right: 8px;
    text-align: right;
    vertical-align: middle;
    text-indent: 5px;
    color: #333;
    font-weight: bold;
}

.m_table_1 td {
    border-bottom: 1px solid #ccc;
}

.m_table_1 input {
    border: none
}

.m_form_area .btn_m_1 {
    height: 25px;
    margin-top: 10px;
    margin-right: 6px;
}

.btn_m_2 button {
    width: 138px;
    height: 34px;
    border: none;
    background: rgba(521, 158, 0, .7);
    color: #fff;
    font-size: 0.929em;
}

/*request_info*/

.request_info {}

.request_info .m_form_area {
    padding-top: 4px;
}

.request_info select {
    width: 70%;
    background: #fff url(../images/select_cursor_2.png) 97% 50%no-repeat;
    padding-left: 5px;
}

.request_info .btn_m_2 {
    width: 28%;
}

.request_info .btn_m_2 button {
    width: 100%;
    height: 44px;
    margin-top: 0;
    font-size: .929em;
}

.price_btn_area {
    margin-top: 10px;
    margin-bottom: 36px;
}

.price_btn_area button {
    width: 90px;
    height: 30px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    color: #333;
    font-size: 1em;
    margin-left: 10px;
    border-radius: 7px;
    line-height: 1;
}

.m_table_2 {}

.m_table_2 tr {
    height: 70px;
}

.m_table_2 tr:first-child {
    border-top: 1px solid #333;
}

.m_table_2 th {
    width: 25%;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.m_table_2 td {
    vertical-align: middle;
    text-align: center;
}

.m_table_2 td:nth-of-type(1) {
    width: 42%;
    font-size: 1em;
}

.m_table_2 td:nth-of-type(2) {
    font-size: 1em;
}

.m_table_2 td input[type=num] {
    font-size: 19px;
    width: 35px;
    height: 30px;
    text-align: center;
    padding: 0;
    border: none;
}

.m_table_2 .btn_ctn {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 15%;
}

/*orderSheet*/

.wrap_input {
    margin-bottom: 4px;
}

.wrap_input p {
    margin-bottom: 0;
    line-height: 43px;
    position: relative;
}

.wrap_input p:last-child {
    width: 75%;
}

.wrap_input input {
    height: 40px;
    border: none;
    background: none;
    font-size: 17px;
    padding-left: 16px;
}

.addr_txta {
    width: 100%;
    height: 44px;
    padding-top: 2px;
    padding-left: 15px;
    border: none;
    background: none;
    color: #555;
    font-size: 17px;
}

.input_con_ttl {
    display: inline-block;
    width: 81px;
    /*width:24%;*/
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    padding-right: 11px;
}

.input_con_ttl:after {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background: #ccc;
    position: absolute;
    right: 0;
    bottom: 6px;
}

.wrap_input .wrap_addr {
    width: 75%;
}

.wrap_input:nth-child(4) input {
    width: 100%;
}

.arr_info {
    margin-top: 18px;
}

/*receiverA*/

.receiverA .btn_m_2 {
    margin-top: 8px;
}

.receiverA .btn_m_2 input[type=checkbox]+label {
    width: 18px;
    height: 19px;
    border: 1px solid #fb9e00;
    float: left;
    margin-top: 2px;
}

.receiverA .btn_m_2 input[id="addrBookYN"]:checked+label {
    background: #fb9e00 url(../images/checked.png) 0 0 no-repeat;
    font-size: 0.929em;
    background-size: 17px;
}

input[class="chk_1"]+label {
    display: inline-block;
    width: 18px;
    height: 19px;
    border: #1px solid #fb9e00;
    cursor: pointer;
}

/*popup*/

.pop_wrap {
    width: 360px;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: -180px;
}

.bg_pop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

#popBox {}

#pop {}

.pop_con {}

.pop_con h2 {
    height: 50px;
    padding-left: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
    background: #f59900;
}

.wrap_scroll {
    height: 300px;
    overflow-y: scroll;
    padding: 20px;
}

.pop_con table {}

.pop_con table tr {
    background: #f4f4f4;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.pop_con table tr:first-child {
    border-top: 1px solid #333;
}

.pop_con table th {
    font-weight: bold;
    width: 64px;
    vertical-align: middle;
    text-align: center;
}

.pop_con table td {
    vertical-align: middle;
}

.pop_con table td:last-child {
    text-align: center;
}

.pop_con table td p {
    text-indent: 10px;
}

.pop_con table td p:nth-child(2) {
    margin-top: 2px;
}

.pop_con table td button {
    width: 14px;
    height: 14px;
    background: #fff url(../images/pop_cls.png) 50% 50% no-repeat;
}

.pop_btn_area {
    display: table;
    margin-top: 33px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

.pop_btn_area button {
    width: 100px;
    height: 48px;
    border: none;
    color: #fff;
    font-size: 1.25em;
}

.pop_btn_area .btn_1 {
    background: #fccd7e;
    margin-right: 16px;
}

.pop_btn_area .btn_2 {
    background: #fb9e00;
}

#btn {}

/*pay_info*/

.pay_info {}

.total_info_area {}

.total_info_area .p_con_box {
    position: relative;
    background: #f4f4f4;
    border-bottom: 1px solid #ccc;
    padding: 12px;
}

.total_info_area .p_con_box:first-child {
    border-top: 1px solid #ccc;
}

.total_info_area .p_con_box .name_i {
    padding-bottom: 12px;
}

.total_info_area .arr_size {
    width: 15px;
}

.total_p_area .q_size {
    width: 20px;
}

.total_info_area .p_con_box span {
    font-weight: bold;
}

.total_info_area .p_con_box .flr {
    font-size: 0.929em;
}

.total_info_area .p_con_box .flr button.del {
    width: 22px;
    height: 22px;
    background: #fff url(../images/btn_cls.png) 0 0 no-repeat;
    border: none
}

.order_del_a {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -11.2px;
    /*transform:translateY(-50%); -webkit-transform:translateY(50%);*/
}

.all_del {
    margin-top: 8px;
    margin-bottom: 30px;
}

.all_del button {
    border-radius: 8px;
    color: #666;
    padding: 2px 6px;
}

.no_order_area {
    width: 100%;
    height: 122px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f4f4f4;
    text-align: center;
    line-height: 122px;
    margin-bottom: 10px;
}

.info_chk_area {
    position: relative;
    margin-top: 8px;
}

.info_chk_area input[type=checkbox] {
    -webkit-appearance: none;
}

.info_chk_area .btn_more {
    background: none;
    border: none;
    color: #666;
    font-size: 0.786em;
}

.info_chk_area .btn_more a {
    display: inline-block;
    font-size: 0.786em;
    text-decoration: underline;
    text-underline-position: under;
}

.t_box {
    margin-bottom: 20px;
}

.chk_box input[type=checkbox]+label span {
    display: inline-block;
    width: 18px;
    height: 19px;
    border: 1px solid #fb9e00;
    cursor: pointer;
    position: absolute;
    left: -20px;
    top: 0px;
    /*margin-top: 2px;*/
}

.chk_box input[type=checkbox]:checked+label span {
    background: #fb9e00 url(../images/checked.png) 0 0 no-repeat;
    font-size: 0.929em;
    background-size: 18px;
}

.info_chk_area input:checked[type="checkbox"] {
    -webkit-appearance: none;
}

.chk_box {
    margin-left: 21px;
    height: 30px;
    position: relative;
}

.total_p_area {
    float: right;
}

.total_p_area strong {
    font-size: 1.214em;
    font-weight: bold;
}

.total_p {
    display: inline-block;
}

.total_p strong {
    font-size: 2.143em;
    font-family: 'NanumSquare', sans-serif;
    margin-left: 30px;
}

.pay_info .bdb {
    border-bottom: 1px solid #333;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/*결제popup*/

.d_p_info {}

.d_p_info .pop_inner {
    overflow-x: hidden;
}

.d_p_info table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    word-break: break-all;
}

.d_p_info table tr {
    height: 50px;
}

.d_p_info table th {
    vertical-align: middle;
    text-align: center;
    background: #f4f4f4;
    border-top: 1px solid #333;
}

.d_p_info table th:nth-child(1) {
    width: 33%
}

.d_p_info table th:nth-child(2) {
    width: 33%;
}

.d_p_info table th:nth-child(3) {
    width: 33%;
}

.d_p_info table td {
    vertical-align: middle;
}

/*cartList*/

.ic_cart_wr {
    display: block;
    width: 70px;
    margin: auto;
    padding-top: 130px;
}

.ic_cart_wr img {
    width: 100%;
}

h2.pre_pop_name {
    padding-top: 30px;
    padding-bottom: 70px;
}

.cart_ex {
    padding-bottom: 8px;
}

.cart_ex p {
    color: #333;
}

.cart_ex p:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    vertical-align: middle;
    margin-right: 2px;
    background: #333;
    border-radius: 50%;
}

.cart_none {
    padding-top: 90px;
}