/* 메인 */

.main_container {}

.main_container .main_visual {
    position: relative;
}

.main_container .main_visual .visual li.mv1 {
    height: 926px;
    background: url('../images/main/visual_bg1.jpg') center top no-repeat;
    text-align: center;
}

.main_container .main_visual .visual li.mv2 {
    height: 926px;
    background: url('../images/main/visual_bg2.jpg') center top no-repeat;
    text-align: center;
}

.main_container .main_visual .visual li.mv3 {
    height: 926px;
    background: url('../images/main/visual_bg3.jpg') center top no-repeat;
    text-align: center;
}

.main_container .main_visual .visual li.mv4 {
    height: 926px;
    background: url('../images/main/visual_bg4.jpg') center top no-repeat;
    text-align: center;
}

.main_container .main_visual .visual li.mv6 {
    height: 926px;
    background: url('../images/main/visual_bg6.png') center top no-repeat;
    text-align: center;
}

.main_container .main_visual .visual li.mv1 .copy.pc {
    padding-top: 335px;
}

.main_container .main_visual .visual li.mv1 .copy.mo {
    display: none;
}

.main_container .main_visual .visual li.mv2 .copy {
    padding-top: 288px;
    margin-bottom: 50px;
}

.main_container .main_visual .visual li.mv2 .btn img {
    padding: 0 6px;
}

/* .main_container .main_visual .visual li.mv2 .code_area{margin-bottom:22px;text-align: center;}
.main_container .main_visual .visual li.mv2 .code_area .ios_code{display: inline-block;padding-right: 10px;}
.main_container .main_visual .visual li.mv2 .code_area .andr_code{display: inline-block;} */

.btn_code_left {
    display: inline-block;
    width: 217px;
    margin-right: 5px;
}

.btn_code_left .ios_code {
    display: inline-block;
    padding-bottom: 10px
}

.btn_code_right {
    display: inline-block;
    width: 217px;
    margin-left: 5px;
}

.btn_code_right .andr_code {
    display: inline-block;
    padding-bottom: 10px
}

.main_container .main_visual .visual li.mv3 .copy {
    padding-top: 205px;
}

.main_container .main_visual .visual li.mv3 .copy2 {
    padding-top: 340px;
}

.main_container .main_visual .visual li.mv4 .copy {
    padding-top: 240px;
}

.main_container .main_visual .visual li.mv4 .copy2 {
    z-index: 10000;
    position: absolute;
    bottom: 6%;
    right: 4%;
    color: #2d394a;
    font-weight: bold;
    font-size: 20px;
}

.main_container .main_visual .bx-pager {
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 60;
    width: 100%;
    text-align: center;
}

.main_container .main_visual .bx-pager-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.main_container .main_visual .bx-pager-item a {
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 9px;
    background: #2b3443;
    border-radius: 100%;
}

.main_container .main_visual .bx-pager-item a.bx-pager-link.active {
    background: #fff;
}

.main_container .main_visual .bx-controls-direction a {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 26px;
    font-size: 0;
    text-align: center;
    z-index: 99;
}

.main_container .main_visual .bx-prev {
    left: 60px;
    margin-top: -13px;
    background: url('../images/main/ar_left.png') center center no-repeat;
}

.main_container .main_visual .bx-next {
    right: 60px;
    margin-top: -13px;
    background: url('../images/main/ar_right.png') center center no-repeat;
}

.main_con {
    width: 1180px;
    margin: 50px auto 60px;
    overflow: hidden;
}

.main_con .banner {
    float: left;
}

.main_con .right {
    float: right;
    width: 560px;
}

.main_con .right .search {
    overflow: hidden;
    background: #e5e5e5;
    height: 52px;
    margin-bottom: 50px;
}

.main_con .right .search h3 {
    float: left;
    display: inline-block;
    font-size: 16px;
    color: #222;
    font-weight: bold;
    line-height: 52px;
    width: 94px;
    height: 52px;
    text-align: center;
    background: url('../images/main/search_line.png') 100% 9px no-repeat;
}

.main_con .right .search .input {
    float: left;
    border: 0;
    background: #e5e5e5;
    width: 401px;
    height: 52px;
    padding: 0 10px;
}

.main_con .right .search .btn {
    float: left;
    width: 64px;
    height: 52px;
    border: 0;
    cursor: pointer;
    background: url('../images/main/search_btn.png') 0 0 no-repeat;
    font-size: 0;
}

.main_con .right .notice h3 {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    line-height: 1.2em;
    overflow: hidden;
    margin-bottom: 20px;
}

.main_con .right .notice h3 span {
    float: right;
}

.main_con .right .notice ul li {
    margin-bottom: 15px;
}

.main_con .right .notice ul li:last-child {
    margin-bottom: 0;
}

.main_con .right .notice ul li a {
    font-size: 16px;
    color: #555;
    line-height: 1em;
}

.main_con .mo_link {
    display: none;
}

/* 팝업 1-2 버전 _CSS
#popp01 { position: absolute; width:850px; height:240px; top:9%; left:1%;  background:#fff; z-index:99;}
#popp01 .cont {width:854px; height:243px; border: 2px solid #000;}
#popp01 .close01 {width:854px; height:30px; background:#000; color:#fff; line-height:30px; padding-left:10px; font-size:13px;}
#popp01 .close01 #close01 {float:right; margin-right:10px; cursor:pointer;} */

#popp01 {
    position: absolute;
    width: 427px;
    height: 240px;
    top: 9%;
    left: 1%;
    background: #fff;
    z-index: 99;
}

#popp01 .cont {
    width: 427px;
    height: 241px;
    border: 2px solid #000;
}

#popp01 .close01 {
    width: 427px;
    height: 30px;
    background: #000;
    color: #fff;
    line-height: 30px;
    padding-left: 10px;
    font-size: 13px;
}

#popp01 .close01 #close01 {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

/* #mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.15) repeat; top: 0; left: 0;  z-index: 999;}*/

/* 삭제
#popp02 { position: absolute; width:300px; height:169px; top:9%; right:1%;background:#fff; z-index:99;}
#popp02 .cont {width:304px; height:173px; border: 2px solid #000;}
#popp02 .close12 {width:304px; height:24px; background:#000; color:#fff; line-height:20px; padding-left:10px; font-size:12px;}
#popp02 .close12 #close12 {float:right; margin-right:10px; cursor:pointer;}
 #mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.15) repeat; top: 0; left: 0;  z-index: 999;}*/

#popp03 {
    position: absolute;
    width: 300px;
    height: 169px;
    top: 450px;
    left: 1%;
    background: #fff;
    z-index: 99;
}

#popp03 .cont {
    width: 304px;
    height: 173px;
    border: 2px solid #000;
}

#popp03 .close01 {
    width: 304px;
    height: 24px;
    background: #000;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    font-size: 12px;
}

#popp03 .close01 #close01 {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

/* #mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.15) repeat; top: 0; left: 0;  z-index: 999;}*/

#popp04 {
    position: absolute;
    width: 480px;
    height: 181px;
    top: 9%;
    right: 2%;
    background: #fff;
    z-index: 99;
}

#popp04 .cont {
    width: 324px;
    height: 185px;
    border: 2px solid #000;
}

#popp04 .close04 {
    width: 324px;
    height: 24px;
    background: #000;
    color: #fff;
    line-height: 24px;
    padding-left: 10px;
    font-size: 12px;
}

#popp04 .close04 #close04 {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

#popp05 {
    position: absolute;
    width: 480px;
    height: 181px;
    top: 9%;
    right: 520px;
    background: #fff;
    z-index: 99;
}

#popp05 .cont {
    width: 324px;
    height: 185px;
    border: 2px solid #000;
}

#popp05 .close05 {
    width: 324px;
    height: 24px;
    background: #000;
    color: #fff;
    line-height: 24px;
    padding-left: 10px;
    font-size: 12px;
}

#popp05 .close05 #close05 {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

#popp06_0907 {
    position: absolute;
    width: 480px;
    height: 181px;
    top: 9%;
    right: 2%;
    background: #fff;
    z-index: 99;
}

#popp06_0907 .cont {
    width: 324px;
    height: 185px;
    border: 2px solid #000;
}

#popp06_0907 .close06 {
    width: 324px;
    height: 24px;
    background: #000;
    color: #fff;
    line-height: 24px;
    padding-left: 10px;
    font-size: 12px;
}

#popp06_0907 .close06 #close06 {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

/*200224 추가*/

#pop_right {
    position: absolute;
    width: 480px;
    height: 181px;
    top: 9%;
    right: 2%;
    background: #fff;
    z-index: 99;
}

#pop_right .cont {
    width: 324px;
    height: 185px;
    border: 2px solid #000;
}

#pop_right .close06 {
    width: 324px;
    height: 24px;
    background: #000;
    color: #fff;
    line-height: 24px;
    padding-left: 10px;
    font-size: 12px;
}

#pop_right .close06 #close06 {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

/********** tablit **********/

@media (max-width: 1400px) {
    .main_container .main_visual .visual li.mv1_mo {
        display: none;
    }
    .main_container .main_visual .visual li.mv4 .copy img {
        width: 85%;
        margin-top: -10px
    }
    .main_container .main_visual .visual li.mv4 .copy2 {
        font-size: 13px;
        bottom: 14%;
        right: 7%;
    }
}

@media (max-width: 1360px) {
    .main_con {
        width: 94%;
        margin: 0 3% 30px;
        overflow: hidden;
    }
    .main_con .banner {
        float: none;
    }
    .main_con .banner img {
        width: 100%;
    }
    .main_con .right {
        float: none;
        width: 100%;
    }
    .main_con .right .search {
        display: none;
    }
    .main_con .right .notice ul li {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    /** 200212 추가 **/
    .main_con .right .notice {
        background-color: #F1F2F2;
        border-radius: 5px;
        margin-top: 20px;
        padding: 20px;
    }
    /* ===---------------------*/
    .main_con .mo_link {
        display: block;
        background: #f59900;
        padding: 30px 0;
        margin: 30px 0 0;
        float: left;
    }
    .main_con .mo_link ul {
        overflow: hidden;
    }
    .main_con .mo_link ul li {
        float: left;
        width: 33.3333%;
        border-right: #f3bc60 1px solid;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .main_con .mo_link ul li:last-child {
        border-right: 0;
    }
    .main_con .mo_link ul li span {
        display: block;
    }
    .main_con .mo_link ul li img {
        width: 40%;
        margin-bottom: 13px;
    }
    .main_con .mo_link ul li a {
        font-size: 17px;
        color: #fff;
        font-weight: bold;
    }
    /** 200212 추가 **/
    /* .main_container .main_visual li.mv6 .mo_link {display:block;background:#f59900;padding:30px 0;margin:30px 0;} */
    .main_container .main_visual .mv6 .mo_link {
        display: block;
        padding: 0;
        margin: 30px 0;
    }
    .main_container .main_visual .mv6 ul.mo_link {
        overflow: hidden;
        padding: 0 20px;
    }
    .main_container .main_visual .mv6 ul.mo_link li {
        float: left;
        width: 33%;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* .main_container .main_visual li.mv6 .mo_link ul li {float:left;width:33.3333%;border-right:#f3bc60 1px solid;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;} */
    .main_container .main_visual .mv6 ul.mo_link li span {
        display: block;
    }
    .main_container .main_visual .mv6 ul.mo_link li img {
        width: 90%;
        margin-bottom: 13px;
    }
    /** ================== **/
}

/********** mobile **********/

@media (max-width: 768px) {
    .main_container .main_visual .visual li.mv1 {
        height: 500px;
        background: url('../images/main/visual_bg1.jpg') -87px -80px no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv2 {
        height: 500px;
        background: url('../images/main/visual_bg2.jpg') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv3 {
        height: 500px;
        background: url('../images/main/visual_bg3.jpg') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv4 {
        height: 500px;
        background: url('../images/main/visual_bg4.jpg') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv6 {
        height: 470px;
        background: url('../images/main/visual_bg6.png') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv1 .copy {
        padding-top: 152px;
    }
    .main_container .main_visual .visual li.mv1 .copy img {
        width: 60%;
    }
    .main_container .main_visual .visual li.mv1 .copy.pc {
        display: none;
    }
    .main_container .main_visual .visual li.mv1 .copy.mo {
        display: block;
    }
    .main_container .main_visual .visual li.mv1 .copy.mo img {
        margin-top: -16px;
    }
    .main_container .main_visual .visual li.mv2 .copy {
        padding-top: 200px;
        margin-bottom: 20px;
    }
    .main_container .main_visual .visual li.mv2 .copy img {
        width: 75%;
        vertical-align: top;
        margin-top: 20px;
    }
    /** 200212 추가 **/
    .main_container .main_visual .visual li.mv6 .copy {
        padding-top: 80px;
        margin-bottom: 0;
    }
    .main_container .main_visual .visual li.mv6 .copy2 img {
        width: 75%;
        vertical-align: top;
        margin-top: 10px;
        text-align: center;
    }
    .main_container .main_visual .visual li.mv6 .copy img.m_logo {
        width: 25%;
    }
    .main_container .main_visual .visual li.mv6 .copy2 {
        padding-top: 0;
        margin-bottom: 20px;
    }
    /** ===================== **/
    .main_container .main_visual .visual li.mv2 .code_area {
        margin-top: 10px;
    }
    .main_container .main_visual .visual li.mv2 .code_area .ios_code {
        padding-right: 0;
    }
    <<<<<<< HEAD .main_container .main_visual .visual li.mv3 .copy img {
        width: 85%;
    }
    .main_container .main_visual .visual li.mv4 .copy img {
        width: 90%;
        margin-top: -20px
    }
    =======.main_container .main_visual .visual li.mv3 .copy img {
        width: 85%;
        margin-top: -85px;
    }
    .main_container .main_visual .visual li.mv4 .copy img {
        width: 90%;
        margin-top: -80px
    }
    >>>>>>>origin/soojung .main_container .main_visual .visual li.mv4 .copy2 {
        font-size: 13px;
        bottom: 14%;
        right: 7%;
    }
    .main_container .main_visual .bx-pager {
        position: absolute;
        bottom: 30px;
        left: 0;
        z-index: 60;
        width: 100%;
        text-align: center;
    }
    .main_container .main_visual .bx-controls-direction a {
        display: none;
    }
    /*popup1-2 버전
 #popp01 { position: absolute; width:300px; height:338px; top:60px; left:50%; margin-left:-150px;background:#fff; z-index:99;}
#popp01 .cont {width:304px; height:340px; border: 2px solid #000;}
#popp01 .close01 {width:304px; height:24px; background:#000; color:#fff; line-height:20px; padding-left:10px; font-size:12px;}
#popp01 .close01 #close01 {float:right; margin-right:10px; cursor:pointer;} */
    #popp01 {
        position: absolute;
        width: 300px;
        height: 172px;
        top: 280px;
        left: 50%;
        margin-left: -150px;
        background: #fff;
        z-index: 99;
    }
    #popp01 .cont {
        width: 304px;
        height: 172px;
        border: 2px solid #000;
    }
    #popp01 .close01 {
        width: 304px;
        height: 24px;
        background: #000;
        color: #fff;
        line-height: 20px;
        padding-left: 10px;
        font-size: 12px;
    }
    #popp01 .close01 #close01 {
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
    /* #mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.15) repeat; top: 0; left: 0;  z-index: 999;}*/
    /*
#popp02 { position: absolute; width:220px; height:124px; top:258px; left:50%;  margin-left:-150px;background:#fff; z-index:99;}
#popp02 .cont {width:224px; height:128px; border: 2px solid #000;}
#popp02 .close12 {width:224px; height:24px; background:#211815; color:#fff; line-height:20px; padding-left:10px; font-size:12px;}
#popp02 .close12 #close12 {float:right; margin-right:10px; cursor:pointer;}
#mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.15) repeat; top: 0; left: 0;  z-index: 999;}*/
    #popp03 {
        position: absolute;
        width: 220px;
        height: 124px;
        top: 478px;
        left: 50%;
        margin-left: -105px;
        background: #fff;
        z-index: 99;
    }
    #popp03 .cont {
        width: 224px;
        height: 128px;
        border: 2px solid #000;
    }
    #popp03 .close01 {
        width: 224px;
        height: 24px;
        background: #000;
        color: #fff;
        line-height: 20px;
        padding-left: 10px;
        font-size: 12px;
    }
    #popp03 .close01 #close01 {
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
    /* #mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.15) repeat; top: 0; left: 0;  z-index: 999;}*/
    #popp04 {
        position: absolute;
        width: 220px;
        height: 124px;
        top: 118px;
        left: 59%;
        margin-left: -150px;
        background: #fff;
        z-index: 99;
    }
    #popp04 .cont {
        width: 224px;
        height: 128px;
        border: 2px solid #000;
    }
    #popp04 .close04 {
        width: 224px;
        height: 24px;
        background: #000;
        color: #fff;
        line-height: 24px;
        padding-left: 10px;
        font-size: 12px;
    }
    #popp04 .close04 #close04 {
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
    #popp05 {
        position: absolute;
        width: 220px;
        height: 124px;
        top: 275px;
        left: 59%;
        margin-left: -150px;
        background: #fff;
        z-index: 99;
    }
    #popp05 .cont {
        width: 224px;
        height: 128px;
        border: 2px solid #000;
    }
    #popp05 .close05 {
        width: 224px;
        height: 24px;
        background: #000;
        color: #fff;
        line-height: 24px;
        padding-left: 10px;
        font-size: 12px;
    }
    #popp05 .close05 #close05 {
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
    /*200224 추가*/
    #pop_right {
        position: absolute;
        width: 300px;
        height: 124px;
        top: 60px;
        left: 50%;
        margin-left: -150px;
        background: #fff;
        z-index: 99;
    }
    #pop_right .cont {
        width: 224px;
        height: 128px;
        border: 2px solid #000;
    }
    #pop_right .close06 {
        width: 224px;
        height: 24px;
        background: #000;
        color: #fff;
        line-height: 24px;
        padding-left: 10px;
        font-size: 12px;
    }
    #pop_right .close06 #close05 {
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
    /* #pop_right { position: absolute; width:480px; height:181px; top:9%; right:2%;background:#fff; z-index:99;}
    #pop_right .cont {width:324px; height:185px;border: 2px solid #000;}
    #pop_right .close06 {width:324px; height:24px; background:#000; color:#fff; line-height:24px; padding-left:10px; font-size:12px;}
    #pop_right .close06 #close06 {float:right; margin-right:10px; cursor:pointer;}
*/
}

/********** mobile **********/

@media (max-width: 480px) {
    .main_container .main_visual .visual li.mv1 {
        height: 400px;
        background: url('../images/main/visual_bg1.jpg') -583px 13px no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv2 {
        height: 400px;
        background: url('../images/main/visual_bg2.jpg') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv3 {
        height: 400px;
        background: url('../images/main/visual_bg3.jpg') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv4 {
        height: 400px;
        background: url('../images/main/visual_bg4.jpg') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv6 {
        height: 370px;
        background: url('../images/main/visual_bg6.png') center bottom no-repeat;
        text-align: center;
        background-size: cover;
    }
    .main_container .main_visual .visual li.mv1 .copy img {
        width: 80%;
    }
    .main_container .main_visual .visual li.mv2 .copy {
        padding-top: 60px;
        margin-bottom: 20px;
    }
    .main_container .main_visual .visual li.mv2 .copy img {
        width: 75%;
        vertical-align: top;
        margin-top: 20px;
    }
    /* .main_container .main_visual .visual li.mv2 .btn img {width:35%;} */
    .btn_code_left {
        width: 143px;
    }
    .btn_code_left img {
        width: 100%;
    }
    .btn_code_right {
        width: 143px;
    }
    .btn_code_right img {
        width: 100%;
    }
    .main_container .main_visual .visual li.mv3 .copy img {
        width: 85%;
        margin-top: 0;
    }
    .main_container .main_visual .visual li.mv4 .copy img {
        width: 90%;
    }
    .main_container .main_visual .visual li.mv4 .copy2 {
        display: none;
    }
}